.temperatureContainer {
  display: flex;
  text-align: center;
}

.tabContainer {
  display: flex;
}

.tabButton {
  margin: 3px;
  border: 1px solid black;
  border-radius: 4%;
  padding: 5px;
}
.tabButton:hover {
  color: purple;
  cursor: pointer;
}
